
/* --- Les fonts --- */

@font-face {
    font-family: "Raleway-Regular";
    src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Raleway-Bold";
    src: url(fonts/Raleway-Bold.ttf);
}

/* --- Le corps de la page général --- */

* {
    box-sizing: border-box;
}
    

body {
    background-color: #ffff;
    font-family: "Raleway-Regular";
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, main, footer {
    width: 1400px;
    padding: 0 50px;
}

main  {
    display: flex;
    flex-direction: column;
}

/* Le style du texte et des titres */

h1 {
    font-family: "Raleway-Bold";
    font-size: 1.3em; 
    padding: 20px 0;
}

h2 {
    font-family: "Raleway-Bold";
    font-size: 0.9em;
}

p {
    font-size: 0.9em;
}

a {
    text-decoration: none;
    color: black;
}

/* --- Les icones --- */

.fa-solid {
    color: #0065FC;
    font-size: 1em;
}

.fa-location-dot {
    color: black;
}

/* --- Le header --- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */

header img {
    width: 61.09px;
    height: 19px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Menu */

.menu {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.menu_item {
    padding: 50px 0;   
    border: transparent 2px solid;
}

.menu_item:hover {
    color: #0065FC;
    cursor: pointer;
    border-top:#0065FC 2px solid;
}

/* --- Search ---- */

/* Les titres au dessus de la search bar */

.search {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* La search bar */

.search_bar {
    display: flex;
    align-self: baseline;
}

.search_bar i, .search_bar input, .search_bar p {
    padding: 15px 20px;
}

.fa-location-dot {
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_bar input {
    display: flex;
    border: #F2F2F2 solid 1px;
    outline: none;
    
    font-size: 1em;
    font-family: "Raleway-Bold";   
}

.search_bar p {
    background-color: #0065FC;
    color: #ffff;
    border-radius: 0 15px 15px 0;

    font-weight: 700;
    letter-spacing: 1px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}

.icon_search {
    display: none;
}


/* ---- Filtres ---- */

.filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    padding: 30px 0;
    gap: 30px;
}

.filter_items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.filter_item {
    display: flex;
    align-items: center;
    
    gap: 10px;
    padding: 15px 20px;
    
    border : solid 2px #D9D9D9;
    border-radius: 25px;
    
    cursor: pointer;   
}

.filter_item:hover {
    background-color: #DEEBFF;
}


/* --- Nombre de résultats --- */

.results_number {
    display: flex;
    align-items: center;
    
    gap: 15px;
}

.fa-info {
    border: solid 1px #D9D9D9;
    padding: 5px 10px;
    border-radius: 50%;
}


/* --- Les lieux --- */

/* --- Commun au main et à l'aside --- */ 

/* Grande div qui englobe les deux blocs */

.places {
    display: flex;
    gap: 20px;
    
    padding: 30px 0;
}

/* Commun à chaque bloc général */

#main_results, .aside_results {
    display: flex;
    flex-direction: column;
    
    padding: 20px 30px;
    gap: 20px;
    
    border-radius: 20px;
    background-color: #F2F2F2;
}

/* Commun au contenu des blocs */

.results_item, .aside_item {
    background-color: #ffff;
    border-radius: 25px;   
}

.stars {
    letter-spacing: -2px;
}

.last-star {
    color: #F2F2F2;
}

.euro {
    font-weight: 700;
}

/* --- Résultats main --- */

.results_items {
    display: flex;

    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    
    row-gap: 40px;
    column-gap: 10px;
}

.results_items img {
    height: 90px;
    width: 100%;
    object-fit: cover;
    
    border-radius: 20px 20px 0 0;  
}

.results_item {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    padding: 5px;

    box-shadow: 0 0 10px #D9D9D9;

    cursor: pointer;
}

.results_item_description {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.plus {
    padding-top: 20px;
}

/* --- Card du aside --- */

/* Titre du aside */

.aside_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-chart-line {
    font-size: 1.3em;
}

/* Corps du aside */

.aside_results {
    justify-content: flex-start;
}

.aside_items {
    display: flex;
    flex-direction: column;

    gap: 40px;
}

.aside_item img {
    width: 90px;
    height: 120px;
    object-fit: cover;
    
    border-radius: 20px 0 0 20px;  
}

.aside_item {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    padding: 5px;
    gap: 10px;

    box-shadow: 0 0 10px #D9D9D9;

    cursor: pointer;
}

.aside_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px;
}

.aside_content {
    display: flex;
    flex-direction: column;

    gap: 10px;
}



/* --- Activités --- */

#activities {
    display: flex;
    flex-direction: column;

    gap: 20px;
}


.activities_items {
    display: flex;
    justify-content: space-between;

    gap: 30px;
    padding-bottom: 50px;
}

.activities_item {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;

    box-shadow: 0 0 10px #D9D9D9;
    border-radius: 20px;

    cursor: pointer;
}

.activities_item img {
    height: 350px;
    width: 100%;
    object-fit: cover;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities_item h2 {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    padding: 20px;

    flex-grow: 1;
    display: flex;
    align-items: center;
}

/* --- Footer --- */

footer {
    display: flex;
}

footer nav {
    background-color: #F2F2F2;
    display: flex;
    gap: 150px;
    width: 100%;
    padding: 30px 50px 50px 50px;
}

.footer_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_item p {
    cursor: pointer;
}

.footer_title {
    font-size: 1.2em;
}




/* -------------- RESPONSIVE --------------- */

@media screen and (max-width:1400px) {

    /* Taille des containers */

    header, main, footer {
        min-width: 993px;
        max-width: 1400px;
        width: 100%;
        padding: 0 40px;
    }

    /* Ajustement de la taille de la police et des images de l'aside */

    h1 {
        font-size: 1.1em;
    }

    h2, p {
        font-size: 0.8em;
    }

    .fa-star {
        font-size: 0.7em;
    }

    .icon_search {
        display: none;
    }

    .aside_item img {
        width: 83px;
        height: 125px;
    }

}


/* --- TABLETTES --- */

@media screen and (max-width:992px) {

    /* Taille des containers */

    header, main, footer {
        min-width: 769px;
        max-width: 992px;
        padding: 0 40px;
        width: 100%;       
    }
   
    /* Les titres */

    h1 {
        font-size: 1.2em;  
    }

    h2, p {
        font-size: 0.9em;
    }

    /* ---- Filtres ---- */

    .filters {
        gap: 20px;
    }

    .filter_items {
        gap: 20px;
    }

    .filter_item {  
        gap: 10px;
        padding: 10px 15px;
    }

    /* --- Les lieux --- */

    .places {
        flex-direction: column;
        gap: 40px;
    }

    #main_results, .aside_results {
        padding-bottom: 40px;
    }

    /* --- Résultats main --- */

    .results_items {
        row-gap: 40px;
        column-gap: 10px;
    }

    .results_items img {
        height: 110px;
    }

    /* --- Card du aside --- */

    .aside_items {
        flex-direction: row;
        justify-content: space-between;
        gap: 0px;
    }

    .aside_items img {
        height: 130px;
        width: 80px;    
    }

    .aside_item {
        flex-basis: 30%;
    }

    .aside_item h2 {
        padding-right: 10px;
    }

    .aside_description {
        padding: 5px;
    }

    /* --- Activités --- */

    .activities_item img {
        height: 200px;
    }

    .activities_item p {
        padding: 10px 20px;
    }

    /* --- Footer --- */

    footer nav {
        gap: 70px;
        padding: 20px 0 60px 50px;
    }

    .footer_item {
        gap: 10px;
    }

    .footer_title {
        font-size: 1em;
    }

}


/* --- TELEPHONE --- */

@media screen and (max-width:768px) {

    /* --- Le corps de la page général --- */

    header, main, footer  {
        min-width: 350px;
        max-width: 768px;
        padding: 0 20px;
        width: 100%;
    }

    /* Les titres */

    h1 {
        font-size: 1.1em;
    }
    
    h2, p {
        font-size: 0.9em;
    }

    /* --- Le header --- */

    header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    /* Logo */

    header img {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* Menu */

    .menu {
        width: 100%;
        justify-content: space-around;
        gap: 0;
    }

    .menu_item {
        flex-grow: 1;
        padding: 20px 0;
        margin-left: -20px;
        margin-right: -20px;
        text-align: center;

        border-bottom:#D9D9D9 2px solid;
    }

    .menu_item:hover {
        border-top:transparent 2px solid;
        border-bottom:#0065FC 2px solid;
    }

    /* La search bar */

    .search {
        padding-top: 20px;
        gap: 40px;
    }

    .search_bar i, .search_bar input {
        display: flex;
        padding: 10px 15px;
    }

    .search_bar input {
        min-width: 170px;
        width: 100%;
    }

    .search_bar p {
        display: none;
    }

    .icon_search {
        display: flex;
        cursor: pointer;
    }

    .fa-magnifying-glass {
        background-color: #0065FC;
        color: #ffff;
        border-radius: 0 15px 15px 0;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /* ---- Filtres ---- */

    .filters {
        flex-direction: column;
        align-items:stretch;
        padding: 40px 0;
        
        gap: 20px;
    }

    .filters h2 {
        font-size: 1em;
    }

    .filter_items {
        flex-wrap: wrap;
        column-gap: 10px;
    }

    .filter_item {
        align-items: center;
        flex-basis: 40%;
        flex-grow: 1;
        
        padding: 15px 10px;  
    }

    .filter_item h2 {
        font-size: 0.8em;
    }

    .filter_item .fa-solid {
        font-size: 1.3em;
    }

    /* --- Les lieux --- */

    /* --- Commun au main et à l'aside --- */ 

    /* Grande div qui englobe les deux blocs */

    .places {
        flex-direction: column-reverse;
        gap: 20px;
    }

    /* --- Résultats main --- */

    #main_results {
        padding: 0;
        align-items: stretch;    
        background-color: #ffff;
    }

    .results_items {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap:nowrap;
       
        row-gap: 20px;
        column-gap: 0px;
    }

    .results_items img {
        height: 150px;      
    }

    .results_item {
        flex-basis: 100%;
        width: 100%;
        flex-direction: column;
    }

    .plus {
        display: none;
    }

    /* --- Card du aside --- */

    /* Corps du aside */

    .aside_results {
        margin-left: -20px;
        margin-right: -20px;       
        padding: 20px 20px 40px 20px;
        
        background-color: #F2F2F2;
        justify-content: flex-start;

        border-radius: 0;
    }

    .aside_items {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .aside_item img {
        height: 150px;
        width: 140px; 
    }

    .aside_item {
        flex-direction: row;
        align-items: stretch;
    }

    /* --- Activités --- */

    #activities {
        padding: 20px 0;
    }

    .activities_items {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 60px;
    }

    .activities_item h2 {
        padding: 20px;
    }

    .activities_item img {
        height: 200px;
    }

    /* --- Footer --- */

    footer {
        padding: 0;
    }

    footer nav {
        flex-direction: column;
        gap: 20px;
    }

    .footer_item h1 {
        font-size: 1.1em;
    }

}
