
/* --- Les fonts --- */

@font-face {
    font-family: "Raleway-Regular";
    src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Raleway-Bold";
    src: url(fonts/Raleway-Bold.ttf);
}

/* --- Le corps de la page général --- */
    

body {
    background-color: #ffff;
    font-family: "Raleway-Regular";
    color: black;
}

.container  {
    padding: 0 70px;
}

/* Les titres */

h1 {
    font-family: "Raleway-Bold";
    font-size: 1.5em;
    
    padding: 20px 0;
}

/* --- Les icones --- */

.fa-solid {
    color: #0065FC;
    font-size: 1em;
}

.fa-location-dot {
    color: black;
}



/* --- Le header --- */

header {
    display: flex;
    justify-content: space-between;
    
    padding: 0 70px;
    
}

/* Logo */

header img {
    width: 61.09px;
    height: 19px;
    padding: 50px 0;
}

/* Menu */

.menu {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.menu_item {
    padding: 50px 0;
    
    border: transparent 2px solid;
}

.menu_item:hover {
    color: #0065FC;
    cursor: pointer;
    border-top:#0065FC 2px solid;
}



/* --- Search ---- */

/* Les titres au dessus de la search bar */

.search {
    display: flex;
    flex-direction: column;
}

.search_title {
    padding-bottom: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* La search bar */

.search_bar {
    display: flex;
    align-self: baseline;
}

.search_bar i, .search_bar input, .search_bar p {
    padding: 15px 20px;
}

.search_bar i {
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_bar input {
    border: #F2F2F2 solid 1px;
    outline: none;
    
    font-size: 1em;
    font-family: "Raleway-Bold";
    
}

.search_bar p {
    background-color: #0065FC;
    color: #ffff;
    border-radius: 0 15px 15px 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}



/* ---- Filtres ---- */

.filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    padding: 30px 0;
    gap: 40px;
    
    font-family: "Raleway-Bold";
}

.filter_items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.filter_item {
    display: flex;
    align-items: center;
    
    gap: 10px;
    padding: 15px 25px;
    
    border : solid 2px #D9D9D9;
    border-radius: 25px;
    
    cursor: pointer;
    
}

.filter_item:hover {
    background-color: #DEEBFF;
}


/* --- Nombre de résultats --- */

.results_number {
    display: flex;
    align-items: center;
    
    gap: 15px;
}

.fa-info {
    border: solid 1px #D9D9D9;
    padding: 5px 10px;
    border-radius: 50%;
}


/* --- Les lieux --- */

/* --- Commun au main et à l'aside --- */ 

/* Grande div qui englobe les deux blocs */

.places {
    display: flex;
    gap: 40px;
    
    padding: 40px 0;
}

/* Commun à chaque bloc général */

.main_results, .aside_results {
    display: flex;
    flex-direction: column;
    
    padding: 30px;
    gap: 20px;
    
    border-radius: 20px;
    background-color: #F2F2F2;
}

/* Commun au contenu des blocs */

.results_item, .aside_item {
    background-color: #ffff;
    border-radius: 20px;
    
}

.place_name {
    font-family: "Raleway-Bold";
}

.stars {
    letter-spacing: -2px;
}

.last-star {
    color: #F2F2F2;
}

.euro {
    font-weight: 700;
}


/* --- Résultats main --- */


.results_items {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    
    row-gap: 40px;
    column-gap: 20px;

}

.results_items img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    
    border-radius: 20px 20px 0 0;
    
}

.results_item {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    padding: 5px;

    box-shadow: 0 0 10px #D9D9D9;

    cursor: pointer;
}

.results_item_description {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.plus {
    font-family: "Raleway-Bold";
    padding: 20px 0;
}

/* --- Card du aside --- */

/* Titre du aside */

.aside_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-chart-line {
    font-size: 1.3em;
}


/* Corps du aside */

.aside_results {
    justify-content: flex-start;
}

.aside_items {
    display: flex;
    flex-direction: column;

    gap: 40px;
}

.aside_items img {
    height: 150px;
    width: 100px;
    object-fit: cover;
    
    border-radius: 20px 0 0 20px;
    
}

.aside_item {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    padding: 5px;
    gap: 10px;

    box-shadow: 0 0 10px #D9D9D9;

    cursor: pointer;
}

.aside_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px;
}

.aside_content {
    display: flex;
    flex-direction: column;

    gap: 10px;
}



/* --- Activités --- */

.activities {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.activities_items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 60px;
}

.activities_item {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;

    box-shadow: 0 0 10px #D9D9D9;
    border-radius: 20px;

    cursor: pointer;

}

.activities_item img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.activites_name {
    font-family: "Raleway-Bold";
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    padding: 30px;
}


/* --- Footer --- */

footer {
    background-color: #F2F2F2;

    display: flex;
    gap: 100px;
    padding: 50px;
}

.footer_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_item p {
    cursor: pointer;
}



.footer_title {
    font-size: 1.2em;
}




/* -------------- RESPONSIVE --------------- */

/* --- ECRANS ORDINATEURS NORMAUX ---*/ 

@media screen and (max-width:1400px) {

    body p {
        font-size: 0.9em;
    }

    .container  {
        padding: 0 50px;
    }

    h1 {
        font-size: 1.1em;
    }

    /* ---- Header ---- */

    header {
        padding: 0 50px;
    }

    /* ---- Filtres ---- */

    .filters {
        gap: 20px;
        
    }

    .filter_items {
        gap: 20px;
    }

    /* --- Les lieux --- */

    .places {
        gap: 20px;
    }

    /* ---- Icones ----*/

    .fa-star {
        font-size: 0.8em;
    }

    /* --- Résultats main --- */


    .results_items {
        column-gap: 10px;
    }

    .results_items img {
        height: 110px;
        width: 100%;
    }
    
    /* --- Activités --- */

    .activities_items {
        gap: 30px;
    }

    .activities_item img {
        height: 350px;
    }

    .activites_name {
        padding: 20px;
    }


}



/* --- TABLETTES --- */

@media screen and (max-width:992px) {

    .container  {
        padding: 0 50px;
    }

   
    /* Les titres */

    h1 {
        font-size: 1.2em;  
    }


    /* --- Le header --- */

    header {
    padding: 0 50px;
        
    }


    /* ---- Filtres ---- */

    .filters {
        gap: 10px;
        
        font-size: 0.9em;
    }

    .filter_items {
        gap: 10px;
    }

    .filter_item {
        
        gap: 10px;
        padding: 10px 15px;

    }

    /* --- Les lieux --- */

    .places {
        flex-direction: column;
        gap: 60px;
    }

    /* Commun à chaque bloc général */

    .main_results, .aside_results {  
        padding: 30px 30px;  
    }


    /* --- Résultats main --- */

    .results_items {
        row-gap: 40px;
        column-gap: 10px;

    }

    .results_items img {
        width: 100%;
        height: 110px;
    }

    .results_item {
        font-size: 0.9em;
    }

    /* --- Card du aside --- */


    .aside_items {
        flex-direction: row;
        justify-content: space-between;
        gap: 0px;
    }

    .aside_items img {
        height: 130px;
        width: 80px;
        
    }

    .aside_item {
        display: flex;
        flex-basis: 30%;

        font-size: 0.9em;
    }

    .aside_description {
        padding: 5px;
    }



    /* --- Activités --- */

    .activities_items {
        justify-content: space-between;
    }

    .activities_item {
        flex-basis: 25%;
        font-size: 0.9em;
    }

    .activities_item img {
        height: 250px;
        width: 100%;
    }

    .activites_name {
        padding: 20px;
    }


    /* --- Footer --- */

    footer {
        gap: 70px;
        padding: 20px 0 60px 50px;
    }

    .footer_item {
        gap: 10px;
        font-size: 0.9em;
    }

    .footer_title {
        font-size: 1em;
    }

}